.complete {
  text-decoration: line-through;
  margin: 10px;
  font-size: x-large;
}

.incomplete {
  text-decoration: none;
  margin: 10px;
  font-size: x-large;
}

.itemButton {
  font-size: x-large;
  margin: 5px;
  color: white;
}

.saveBtn {
  background-color: green;
}

.clearBtn {
  background-color: rgb(170, 125, 42);
}

.editBtn {
  background-color: rgba(58, 181, 168, 0.508);
}

.cancelBtn {
  background-color: red;
}

.deleteBtn {
  background-color: salmon;
}

.listName {
  padding: 10px;
  border: 2px solid rgb(156, 214, 247);
  background-color: turquoise;
}
