* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

.top-left {
  width: 220px;
  height: 150px;
  background-color: purple;
  color: whitesmoke;
  text-align: center;
  padding-top: 60px;
  font-size: x-large;
  float: left;
  box-shadow: 0px 5px 5px rgb(46, 0, 42);
  text-shadow: 3px 3px black;
}

.nav {
  height: 150px;
  background-color: red;
  color: beige;
  font-size: x-large;
  text-align: center;
  padding-top: 50px;
  box-shadow: 0px 5px 5px rgb(39, 0, 0);
  text-shadow: 2px 2px black;
}

.side-panel {
  bottom: 0;
  width: 220px;
  float: left;
  background-color: blue;
  color: whitesmoke;
  top: 150px;
  position: absolute;
  clear: both;
  text-align: center;
}

.list-button {
  left: 220px;
  right: 0;
  padding: 20px;
  color: black;
  background-color: rgb(225, 225, 216);
  border: white;
  top: 150px;
  position: absolute;
  bottom: 0;
}
